ul {
  list-style: none;
}

.important {
  color: black;
}

a:link {
  color: black;
  font-size: 50px;
}

a:visited {
  color: black;
}

a:hover {
  color: red
}
.wow {
  color: red;
  font-style: italic;
}

.title {
  font-size: 50px;
  color: blue;
}

.it {
  font-style: italic;
}

body {
  text-align: center;
}
